.register-page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

@media (max-width: 768px) {
  .register-page {
    padding: 20px;
  }
}

.register-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.register-card {
  position: relative;
  z-index: 2;
  background: white;
  max-width: 800px;
  width: 100%;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.35);
}

/* HEADER */
.register-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.register-welcome {
  color: #ff8f32;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}

.register-title {
  font-size: 26px;
  font-weight: 700;
  margin: 3px 0;
}

.register-subtitle {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
  line-height: 18px;
  font-weight: 500;
}

.register-logo {
  width: 85px;
}

/* FORM FIELDS */
.form-label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

.form-control,
.form-select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d5d5d5;
  font-size: 14px;
}

/* OTP Container */
.otp-wrapper {
  position: relative;
}

.otp-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  background: #ff8f32;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
}

.pass-icon {
  position: absolute;
  right: 12px;
  top: 5px;
  cursor: pointer;
  color: #777;
  font-size: 18px;
}

/* SUBMIT BUTTON */
.register-page-btn {
  background: #ff8f32;
  border: none;
  width: 100%;
  padding: 12px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.register-page-btn:hover {
  background: #ff9f45;
}

/* Bottom text */
.register-bottom-text {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin: 0;
}


.login-link {
  color: #ff8f32;
  font-weight: 700;
  text-decoration: none;
}
/* MOBILE INPUT (TOP FIELD) */
.mobile-input {
  height: 45px;
  border-radius: 10px;
  font-size: 14px;
}

/* SEND OTP BUTTON */
.otp-send-btn {
  margin-top: 5px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #ff8f32;
  background: transparent;
  color: #ff8f32;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.otp-send-btn:hover {
  background: #ff8f32;
  color: white;
  transition: 0.2s;
}

/* OTP INPUT FIELD */
.otp-input {
  margin-top: 5px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}
