.student-attendance {
  padding: 20px;
}

/* ORANGE TEXT */
.text-orange {
  color: var(--primary-bg);
}

/* OVERALL BOX */
.overall-box {
  background: #ffe5cc;
  border: 1px solid #ffd5ad;
  border-radius: 10px;
}

/* SUMMARY TABLE */
.table-container {
  background: #fff7ef;
  border-radius: 12px;
  border: 1px solid #ffd8b5;
}

.att-table th {
  background: #fff1e4 !important;
  font-weight: 600;
  color: #444;
  padding: 15px !important;
  font-size: 15px;
}

.att-table td {
  background: #fff7ef !important;
  vertical-align: middle;
  padding: 15px !important;
  font-size: 15px;
}

.status-text {
  color: var(--primary-bg);
  font-weight: 600;
}

/* TOGGLE BUTTONS */
.toggle-btn {
  background: #f2f2f2;
  border-radius: 6px;
  padding: 6px 20px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.toggle-btn.active-toggle {
  background: var(--primary-bg);
  border-color: var(--primary-bg);
  color: white;
}

/* CALENDAR BOX */
.calendar-box {
  background: #fff7ef;
  border: 1px solid #ffd8b5;
  border-radius: 12px;
}

/* CUSTOM REACT-CALENDAR STYLE */
.react-calendar {
  width: 100%;
  border: none;
  background: transparent;
}

.react-calendar__navigation button {
  color: var(--primary-bg);
  font-weight: bold;
}

.react-calendar__tile {
  padding: 8px !important;
  border-radius: 6px;
}

.react-calendar__tile--active {
  background: var(--primary-bg) !important;
  color: white !important;
}

.react-calendar__tile:hover {
  background: #ffe6d3 !important;
}

/* LEGEND */
.legend {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lg {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 4px;
}

.present { background: #4caf50; }
.absent { background: #ff5252; }
.late { background: #ffb300; }
