.dashboard-home {
  padding: 20px;
}

/* WELCOME */
.welcome-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.welcome-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.welcome-text {
  font-weight: 700;
}

/* HEADINGS */
.section-heading {
  font-size: 17px;
  font-weight: 700;
  margin-top: 25px;
}

/* ENROLLMENT GRID */
.info-grid {
  background: #fff7ef;
  border: 1px solid #ffe0c2;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 15px;
}

.info-grid label {
  font-size: 12px;
  color: #888;
}

.info-grid p {
  margin: 0;
  font-weight: 600;
}

/* NOTIFICATION BOX */
.notification-box {
  background: #fff7ef;
  border: 1px solid #ffe0c2;
  padding: 12px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.bell-icon {
  color: #ff9437;
  font-size: 18px;
}

/* MINI TABLE */
.mini-table th {
  background-color: #fff1e3 !important;
  color: #444;
  font-size: 13px;
  font-weight: 600;
  padding: 15px !important;
}

.mini-table td {
  background-color: #fff7ef !important;
  vertical-align: middle;
  font-size: 13px;
  padding: 15px !important;
}

/* PROGRESS SMALL */
.progress-small {
  width: 100%;
  height: 8px;
  background: #ffe7d1;
  border-radius: 5px;
}

.progress-small div {
  background: #ff9437;
  height: 100%;
  border-radius: 5px;
}

/* ACTIVITIES */
.activity-box {
  background: #fff7ef;
  border: 1px solid #ffe0c2;
  padding: 15px;
  border-radius: 10px;
}

.act-icon {
  color: green;
  margin-right: 6px;
}

/* FEES BOX */
.fee-box {
  background: #fff7ef;
  border: 1px solid #ffe0c2;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.fee-box label {
  font-size: 12px;
  color: #888;
}

.fee-box p {
  font-weight: 700;
  margin: 0;
}

/* CALENDAR */
.custom-calendar {
  border: 1px solid #ffe0c2 !important;
  border-radius: 12px;
  background: #fff7ef !important;
}
