.dashboard-home {
  padding: 30px;
  border-radius: 16px;
}

/* WELCOME */
.welcome-box {
  display: flex;
  align-items: center;
  gap: 14px;
}

.welcome-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.welcome-text {
  font-weight: 700;
  margin: 0;
}

/* SECTION TITLE */
.section-heading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 12px;
}

/* OVERVIEW CARDS */
.overview-row {
  margin-top: 5px;
}

.overview-card {
  background: #fff7ef;
  border: 1px solid #ffe0c2;
  padding: 14px 18px;
  border-radius: 10px;
  height: 100%;
}

.overview-title {
  font-size: 13px;
  color: #6b6b6b;
  margin-bottom: 6px;
}

.overview-value {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}

.overview-sub {
  font-size: 12px;
  color: green;
}

/* PROGRESS BAR */
.progress-bar-wrap {
  width: 100%;
  height: 6px;
  background: #ffe7d4;
  border-radius: 10px;
}

.progress-bar-fill {
  background: #ff9437;
  height: 100%;
  border-radius: 10px;
}

.progress-sub {
  font-size: 13px;
  color: #ff9437;
  margin-top: 6px;
}

/* CHART */
.chart-box {
  background: #ffffff;
  padding: 22px;
  margin-top: 18px;
  border: 1px solid #ffe0c2;
  border-radius: 12px;
}

.trend-title {
  font-weight: 600;
  margin-bottom: 3px;
}

.trend-score {
  color: #ff9437;
  margin-bottom: 15px;
}

/* TABLES */
.table-wrapper {
  margin-top: 10px;
}

.dash-table th {
  background: #fff1e3;
  color: #444;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 12px;
}

.dash-table td {
  background: #fff7ef;
  padding: 15px 14px !important;
  vertical-align: middle;
  font-size: 14px;
}

.grade-badge,
.status-approved,
.status-pending {
  padding: 5px 12px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

.grade-badge {
  background: #ffe0c2;
}

.bplus {
  background: #ffe0c2;
}

.aminus {
  background: #ffe0c2;
}

.status-approved {
  background: #4caf50;
}

.status-pending {
  background: #ff9800;
}
