.profile-student {
  padding: 20px;
}
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.section-title {
  font-weight: 700;
  color: #333;
}

.label {
  font-size: 13px;
  color: #777;
  margin-bottom: 2px;
}

.value {
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

.profile-header-box {
  padding: 15px 0;
}

hr {
  margin: 0 0 15px 0;
}
